<div id="project" style="display:{{projectDisplay}};">

    <!-- start grid -->

    <div class="container p-4 bg-white border content" id="contactContent">

        <!-- first row / title -->
        <div class="row mb-3">
            <div class="col-12">
                <p class="font-weight-bold text-info border-bottom pb-3 headingText">{{name}}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-2">Description</div>
            <div class="col-10">{{description}}</div>
        </div>
        <div class="row">
            <div class="col-2">Buil with</div>
            <div class="col-10">{{stack}}</div>
        </div>
        <div class="row">
            <div class="col-2">Links</div>
            <a class="col-10" style="text-decoration: none;" href={{repo}} target="_blank">{{repo}}</a>
        </div>
        <div class="row">
            <div class="col-2"></div>
            <a class="col-10" style="text-decoration: none;" href={{deployed}} target="_blank">{{deployed}}</a>
        </div>
        <div class="row">
            <img class="col-12 mt-3 py-1" src={{src}} alt="Code Quiz">
        </div>



        <!-- end content -->

    </div>

    <!-- end grid -->

</div>